.ccls-cache
Software/Camera/transmit_image_test/python/pyrightconfig.json
*.DS_Store
*.idea*
Software/Camera/transmit_image_test/python/img.jpg
Software/Camera/transmit_image_test/python/__pycache__/serialImg.cpython-312.pyc
